<div class="text-center">
    <h1>About Us</h1>
    EduTech believes that successful education and IT go hand in hand. EduTech was established to foster a secure relationship between technology and education. We saw the need for smaller school districts to have better, 
    more cost-effective IT solutions. EduTech identified that school districts need to have IT solutions designed and delivered by people who know education and the challenges schools face. With 20+ years of educational and technological experience, the EduTech team works to expand education by creating a seamless IT experience to benefit all stakeholders.

We all know the technology world is changing by the minute. Our expertise in educational technology enables you to use your people where and how they’re needed most. We ensure that teachers have the know-how to use technology to teach the up-and-coming-generation to succeed in today’s technology-rich, technology-enabled world. In the end that translates to satisfied customers – parents, students, staff, school boards, and the entire learning community.
</div>
