<p style="margin-left: 90%;"><strong><a style="text-decoration: none ;" href="/products">Log Out</a></strong></p>
<h1 class="text-center">ALL Course of SSC</h1>
<h1 class="text-center">Bangla 📚 English 📚 Math</h1>

<div class="row">
    <div class="col-md-4">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/7QJpkHw_RTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/4ZBBPtoD7No" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/b8b1PjrCxB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
       
