<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container mt-5">
            <div class="row">
                <div style="background-color: rgb(155, 13, 160);color:rgb(247, 248, 248); height:50px;border-radius: 20px;">
                    <h4  class="text-center mt-2">Our Mentor</h4>
                </div>
                <div class="col-md-3 mt-2">
                    <strong class="text-center">MR ASIK</strong>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0xORVTqrsHeITi1ZSSiZ8eD6WoOhYKl5Cu-kMK9b1sq-PRETs-k5C_RDB7-Hlqv_2u5c&usqp=CAU" alt="pic" height="200px" width="200px">
                </div>
                <div class="col-md-1 mt-2">

                </div>
                <div class="col-md-3 mt-2">
                    <strong class="text-center">MR HABIB</strong>
                    <img src="https://media.istockphoto.com/id/1224311229/photo/happy-teacher-and-schoolboy-giving-each-other-high-five-on-a-class.jpg?s=612x612&w=0&k=20&c=o5kd0FVikynCdxcKXkBJad3nsKZiGmsD5aQaY49keXI=" alt="pic" height="200px" width="200px">
                </div>
                <div class="col-md-1 mt-2">

                </div>
                <div class="col-md-3 mt-2">
                    <strong class="text-center">MISS ZK</strong>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNq5vBOjdm11PWEvk1RZrENWfK4l2zqObBfA&usqp=CAU" alt="pic" height="200px" width="200px">
                </div>
            </div >
           
            
        </div>
        <div class="container mt-5">
            <div class="row">
                <div style="background-color:rgb(14, 235, 224);border-radius: 30px;" class="col-md-3 text-center">
                    <strong class="text-center">OFFICE</strong>
                    <div>
                      54 Banani,<br>
                      Dhaka <br>
                      1205
                    </div>
                </div>
                <div style="background-color:rgb(14, 235, 224);border-radius: 30px;" class="col-md-3 text-center">
                    <strong class="text-center">BRANCH</strong>
                    <div>
                        UTTRA<br>
                        DHANMONDI<br>
                        BANANI
                    </div>
                </div>
                <div style="background-color:rgb(14, 235, 224);border-radius: 30px;" class="col-md-3 text-center">
                    <strong class="text-center">Social</strong>
                    <div>
                        <i class="bi bi-facebook"></i><br>
                        <i class="bi bi-instagram"></i><br>
                        <i class="bi bi-twitter"></i>
                    </div>
                </div>
                <div style="background-color:rgb(14, 235, 224);border-radius: 30px;" class="col-md-3 text-center">
                    <strong>Help Line</strong>
                    <div>
                    +880 9638-113399 <br>
                    team@shikho.com <br>
                    www.shikho.com <br>
                    </div>
                    
                </div>
            </div >
            <div class="mb-4" style="background-color: rgb(160, 13, 104);color:rgb(247, 248, 248); height:30px;border-radius: 20px;">
                <h5  class="text-center mt-3">©️ by ED-CARE. Design and Developed dy ASIK ZAMAN</h5>
            </div>
            
        </div>
        
    </footer>
</body>
</html>
