.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #ffff;
    background-clip:border-box;
    border: 1 px solid rgb(0,0,0,0.2);
    border-radius: .25rem;
}
.item{
    margin: 0px 15px;
    text-align: center;
}
.item a:hover{
    color: orangered;
}
.card img{
height:250px;
width:200px;
margin-bottom: 15px;
transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.card{
    padding: 20px;
    margin: 35px;
}